* {
    font-family: 'Reem Kufi Ink', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(238, 238, 238, 0.87);
    margin: 0px 250px 0px 250px;
    border: 3px solid black;
}

.logo {
    font-size: 30px;
    margin-right: 50px;
}

.about {
    margin-left: 50px;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.shopList {
    width: 70%;
    height: 100%;
    margin-top: 20px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;

}

.list {
    display: flex;
    flex-direction: column;
}


.items {
    width: 500px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    filter: drop-shadow(8px 8px 4px black);
}

.items > img {
    width: 100px;
    height: 100%;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.olist {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

}


.olist img{
    margin: 5px;
    width: 23px;
    height: 23px;
}

.like {
    background-color: white;
}